/.metadata/
Server_NGO_GroupProject/src/main/resources/application.properties
Server_NGO_GroupProject/target/classes/application.properties
Server_NGO_GroupProject/target/classes/application.properties
*.properties
Server_NGO_GroupProject/src/main/resources/application.properties
Server_NGO_GroupProject/target/classes/application.properties
