<mat-sidenav-container>
    <mat-card class="mt50">
        <mat-action-list>
            <div mat-subheader>Menu</div>
            
            <button mat-list-item routerLink="/admin">
                <mat-icon mat-list-icon>home</mat-icon>
                <div class="label"> Home </div>
            </button>
            <button mat-list-item routerLink="/admin/add-donation">
                <mat-icon mat-list-icon>add_circle</mat-icon>
                <div class="label"> Add Donation Types </div>
            </button>
            <button mat-list-item routerLink="/admin/view-donations">
                <mat-icon mat-list-icon>list</mat-icon>
                <div class="label"> View Donations </div>
            </button>
            <button mat-list-item routerLink="/admin/view-users">
                <mat-icon mat-list-icon>list</mat-icon>
                <div class="label"> View Users </div>
            </button>

            <!-- (click)="logout()" *ngIf="isLoggedIn" -->
            <button mat-list-item (click)="logout()">
                <mat-icon mat-list-icon>logout</mat-icon>
                <div class="label"> Log out </div>
            </button>
        </mat-action-list>
    </mat-card>
</mat-sidenav-container>
